tr, td, th {
    border: 1px solid #cccccc;
    border-spacing: 0;
}
ul { list-style: none; }
.listContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.orderListContainer{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    }
.titleContainer{
    width: 100%;
    font-weight: 500;
    letter-spacing: 4px;
    color: black;
    font-size: 2.2em;
    margin-bottom: 1rem;
}
ul{
    width: 100%;
    padding: 0px;
}
li{
    padding: 5px;
}
.textContainer{
    color: black;
}
.listWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.optionContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
@media screen and ( min-width: 1026px ) {
    .optionContainer{
        justify-content: flex-end;
        padding: 50px
    }
    .listWrapper{
        justify-content: center;
    }
    .orderListContainer{
        max-width: 23%;
    }
    .listContainer{
        max-width: 90%;
        padding: 20px;
    }
    .langChooser{
        margin-right: 20px;
        align-self: flex-end;
    }
}
